@import '../../styles/main.scss';

h6 {
  color: #fcfcfc;
}

.sidebar {
  border: 2px solid;
  background-color: $main-color;
  border-top-right-radius: 50px 70px;
  min-height: 100%;
  padding-bottom: 500px;
}

.sidebar-button {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
